<%- include('partials/header.ejs') %>
  
        <div id="wrapper">
        <header>
        <h1> The Revolution of INvestments</h1>
        
        </header>
        <h2>Great Investments</h2>
            <br /> <br />
            
            <figure id="me">
                <img src="/img/blank.jpg"  alt="Picture of quantum computer">
            </figure>
            <div id="welcome">
                <div id="sidebar">
                Total Software<br />
                
                <p>This is an overview of the new and revolutionary software that hWill help you with creating the new experince for your future investments</p>
                
        </div>
        
        
     <%- include('partials/footer.ejs') %>