<!DOCTYPE html>
<html>
  <head>
    <title>Total Software</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
		<link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
		
		<link rel='stylesheet' type='text/css' href='css/app.css'>
  
  <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

  <nav>
    	<hr class="new1">
    	<a href="/">Home</a>
    	<a href="/">About</a>
    	<a href="/">Services</a>
    	<a href="/"> Specs</a>
        <a href="/"> Contact Info </a>
    	</nav>
    </head>
  </head>
  <body>